html {
	background-color: #fdfdfd;
}

table {
	display: none;
}

canvas {
	border: 1px solid #eeeeee;
	background-color: white;
}

.wrap {
	text-align: center;
}

#hiddenWidthCalculation {
	position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    white-space: nowrap;
}